# Apache Spark HomeWork6

https://github.com/pirple/Data-Mining-With-Python/blob/master/Part%204/Section_3.1_3.2.ipynb

In [1]:
#libs and pyspark init 
import pyspark.sql.functions as F
import pyspark as ps
from pyspark import SQLContext  

spark = ps.sql.SparkSession.builder \
    .master('local[2]') \
    .appName('spark-ml') \
    .getOrCreate()

sc = spark.sparkContext
sqlContext = SQLContext(sc)

In [2]:
csv_data = 'Data/austin_weather.csv'

In [10]:
sqlContext = SQLContext(sc) # crear var para ejecutar sentencias sql df = sqlContext.sql("SELECT * FROM table")

In [5]:
# read CSV Spark
df_aapl = sqlContext.read.csv(csv_data,
                         header=True,       # use headers or not
                         quote='"',         # char for quotes
                         sep=",",           # char for separation
                         inferSchema=True)  # do we infer schema or not ?

df_aapl.show(5) #df.head(2)

+----------+---------+--------+--------+-------------+------------+------------+-------------------+------------------+------------------+--------------------------+-------------------------+-------------------------+-------------------+------------------+------------------+-----------+----------+-----------+----------------------+-------------------+
|      Date|TempHighF|TempAvgF|TempLowF|DewPointHighF|DewPointAvgF|DewPointLowF|HumidityHighPercent|HumidityAvgPercent|HumidityLowPercent|SeaLevelPressureHighInches|SeaLevelPressureAvgInches|SeaLevelPressureLowInches|VisibilityHighMiles|VisibilityAvgMiles|VisibilityLowMiles|WindHighMPH|WindAvgMPH|WindGustMPH|PrecipitationSumInches|             Events|
+----------+---------+--------+--------+-------------+------------+------------+-------------------+------------------+------------------+--------------------------+-------------------------+-------------------------+-------------------+------------------+------------------+-----------+----------+-----------+----------------------+-------------------+
|2013-12-21|       74|      60|      45|           67|          49|          43|                 93|                75|                57|                     29.86|                    29.68|                    29.59|                 10|                 7|                 2|         20|         4|         31|                  0.46|Rain , Thunderstorm|
|2013-12-22|       56|      48|      39|           43|          36|          28|                 93|                68|                43|                     30.41|                    30.13|                    29.87|                 10|                10|                 5|         16|         6|         25|                     0|                   |
|2013-12-23|       58|      45|      32|           31|          27|          23|                 76|                52|                27|                     30.56|                    30.49|                    30.41|                 10|                10|                10|          8|         3|         12|                     0|                   |
|2013-12-24|       61|      46|      31|           36|          28|          21|                 89|                56|                22|                     30.56|                    30.45|                     30.3|                 10|                10|                 7|         12|         4|         20|                     0|                   |
|2013-12-25|       58|      50|      41|           44|          40|          36|                 86|                71|                56|                     30.41|                    30.33|                    30.27|                 10|                10|                 7|         10|         2|         16|                     T|                   |
+----------+---------+--------+--------+-------------+------------+------------+-------------------+------------------+------------------+--------------------------+-------------------------+-------------------------+-------------------+------------------+------------------+-----------+----------+-----------+----------------------+-------------------+
only showing top 5 rows

In [42]:
df_aapl = df_aapl.withColumn("m", df_aapl.Date) #new Column
df_aapl.info()

AttributeError: 'DataFrame' object has no attribute 'info'

In [48]:
# Infer the schema, and register the DataFrame as a table.
df_aapl.createOrReplaceTempView("df_aapl")

In [67]:
data01 = sqlContext.sql("SELECT to_date(a.Date)+1, a.TempHighF FROM df_aapl a INNER JOIN df_aapl b ON a.Date=b.Date ")
data01.show(20)

+------------------------------+---------+
|date_add(to_date(a.`Date`), 1)|TempHighF|
+------------------------------+---------+
|                    2013-12-22|       74|
|                    2013-12-23|       56|
|                    2013-12-24|       58|
|                    2013-12-25|       61|
|                    2013-12-26|       58|
|                    2013-12-27|       57|
|                    2013-12-28|       60|
|                    2013-12-29|       62|
|                    2013-12-30|       64|
|                    2013-12-31|       44|
|                    2014-01-01|       55|
|                    2014-01-02|       69|
|                    2014-01-03|       55|
|                    2014-01-04|       58|
|                    2014-01-05|       71|
|                    2014-01-06|       59|
|                    2014-01-07|       36|
|                    2014-01-08|       48|
|                    2014-01-09|       53|
|                    2014-01-10|       70|
+------------------------------+---------+
only showing top 20 rows

In [69]:
# where = "WHERE 1=1"
where = "WHERE to_date(a.Date)+1 = to_date(b.Date) AND b.TempHighF-a.TempHighF>=10"
# tempHigh = sqlContext.sql("SELECT to_date(a.Date)+1, a.TempHighF FROM df_aapl a INNER JOIN df_aapl b ON a.Date=b.Date " + where)
tempHigh = sqlContext.sql("SELECT b.Date, b.TempHighF FROM df_aapl a, df_aapl b " + where)
tempHigh.show(10)

+----------+---------+
|      Date|TempHighF|
+----------+---------+
|2013-12-31|       55|
|2014-01-01|       69|
|2014-01-04|       71|
|2014-01-07|       48|
|2014-01-09|       70|
|2014-01-20|       82|
|2014-01-25|       70|
|2014-01-29|       49|
|2014-01-30|       65|
|2014-01-31|       80|
+----------+---------+
only showing top 10 rows

In [25]:
tempHigh.show()

+---------+
|TempHighF|
+---------+
|       74|
|       56|
+---------+

In [71]:
tempHigh.write.csv("Data/Homework6OutPut")